body {
    background-color: #1d1e1f;
}
h1 {
    background-color: darkcyan;
}
h2 {
    background-color: rgb(206, 12, 70);
}
p {
    background-color: rgb(6, 250, 38);
}
ul {
    background-color: rgb(14, 158, 168);
}