body {
    font-family:'Courier New', Courier, monospace;
    color: #12f1db;
    padding: 10%; }
.page {
        border: 1px solid #0a84ca;

        background-color: #666666;
        padding: inherit;
    }